---
import { getFolderContents } from "../utils/googleDrive";

const { item } = Astro.props;
const children = item.type === 'folder' ? await getFolderContents(item.id) : [];
---

{item.type === 'folder' ? (
  <>
    <div class="folder">{item.name}</div>
    <ul style="display: none;">
      {children.map(child => (
        <ExpandableItem key={child.id} item={child} />
      ))}
    </ul>
  </>
) : (
  <div class="file">
    <a href={`https://drive.google.com/file/d/${item.id}/view`} target="_blank">{item.name}</a>
  </div>
)}
